@{
    Layout = null;
}

@model LogoutViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post" asp-controller="Account" asp-action="LogoutPost" class="logout-form">
    @Html.AntiForgeryToken()
    <label>
        <input type="checkbox" asp-for="IsConfirmed" />
        Підтвердити Вихід
    </label>    
    <button type="submit" class="button-modal-form-confirm button-form-marg">Вийти</button>
    <button type="button" class="btn btn-primary modal-close button-form-marg">Закрити</button>
</form>

